.nav-mobile__btn--open {
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: none;
  margin: 2.2em auto 0;
  padding: 0;
  width: 3em;
}

.nav-mobile__img--open {
  height: 100%;
  width: 100%;
}

.nav-mobile--opened {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(0.35em);
  display: none;
  height: 100vh;
  left: 0;
  padding: 0;
  position: fixed;
  margin: 0;
  overflow: auto;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.nav-mobile--opened ul {
  list-style-type: none;
  margin: 20vh 20vw 0 6vw;
  max-height: 70vh;
}

.nav-mobile--opened li {
  cursor: pointer;
  font-size: 3rem;
  margin-bottom: 5vh;
  word-wrap: break-word;
}

.nav-mobile--opened li a {
  color: inherit;
  text-decoration: none;
}

.nav-mobile--opened li a:hover {
  color: rgb(255, 255, 255);
}

.nav-mobile__btn--close {
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 8vw;
  top: 8vmin;
  width: 2.4em;
  z-index: 101;
}

.nav-mobile__img--close {
  height: 100%;
  width: 100%;
}

@media all and (max-width: 576px) {
  .nav-mobile__btn--open {
    display: block;
  }
}
