*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

header,
nav,
main,
footer,
article {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(19, 20, 22);
  background-repeat: no-repeat;
  color: rgba(240, 240, 240, 0.776);
  font-family: Author-Extralight, sans-serif;
  font-size: 1.6rem;
  height: 100%;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
}

.container {
  /* border: 0.01em solid blue; */
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 96%;
  padding-bottom: 4em;
  width: 160rem;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 81);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(114, 114, 114);
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
  box-shadow: inset 0 0 0 1rem #2f2f30;
  border-radius: 0.5rem;
}

/* HEADER */

.logo {
  font-size: 4.4rem;
  letter-spacing: 0.8em;
  margin: 0 auto 0 5em;
  max-width: 100vw;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.logo--italic {
  font-size: 0.65em;
  font-style: italic;
}

.logo__link {
  animation: anim1 2.5s ease-in-out;
  color: rgb(255, 255, 255);
  display: block;
  margin: 2.65em auto;
  text-decoration: none;
}

@keyframes anim1 {
  0% {
    color: #131416;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.logo__link:hover {
  color: rgb(189, 189, 189);
}

.logo__link--small {
  display: none;
}

/* MAIN  */

.about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 11.2em;
}

.about__header {
  width: 52%;
}

.about__header h1 {
  color: rgb(144, 144, 144);
  font-size: 8rem;
  font-weight: 100;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 0.75em;
  margin-bottom: 2em;
  padding: 9% 0 0 0;
  position: relative;
  text-align: right;
  white-space: nowrap;
}

.about__header h2 {
  margin: 2em 0.6em 1.4em;
  text-align: left;
}

.about__info {
  font-size: 2.6rem;
  margin-left: 2em;
  width: 80%;
}

.about__pic {
  width: 90rem;
}

.about__par--tools {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin: 0 auto 0.6em;
  text-align: center;
  width: 90%;
}

.about__arrow--down {
  border-radius: 0.4em;
  margin-left: 0.1em;
  padding: 0.2em;
  vertical-align: middle;
  width: 1.4em;
}

.about__img1 {
  animation: anim2 3s ease-in-out;
  border: 0.01em solid rgb(124, 124, 124);
  object-fit: contain;
  opacity: 0.7;
  position: relative;
  right: 3.4em;
  top: -2.8em;
  width: 100%;
  z-index: -1;
}

@keyframes anim2 {
  0% {
    opacity: 0;
    top: -200vh;
  }
  75% {
    opacity: 0.5;
  }
}

/* O MNIE  */

h2 {
  background-color: rgb(27, 27, 27);
  border-left: 3.01em solid rgba(45, 45, 45, 0.596);
  border-radius: 0.2em;
  color: rgb(144, 144, 144);
  font-weight: 100;
  font-size: 3.8rem;
  letter-spacing: 0.3em;
  line-height: 1.6em;
  margin: 1em auto 1.4em;
  padding: 0 1.4em 0.26em 1.9em;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

h2 span {
  color: rgb(97, 50, 0);
  font-size: 7.6rem;
  position: relative;
  top: 0.19em;
  right: -0.7em;
}

.about__img2--left {
  align-self: flex-end;
  border-radius: 0.4em;
  bottom: -5em;
  filter: grayscale(50%);
  filter: sepia(50%);
  margin-left: 5em;
  max-width: 70vw;
  position: relative;
  rotate: -10deg;
  width: 30em;
  z-index: -3;
}

.about__programms {
  border-radius: 0.5em;
  margin-top: 8em;
  padding: 1em 0;
}

.about__programms ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto 6em;
}

.about__iconwrapper {
  align-items: flex-start;
  color: white;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 100%;
  justify-content: space-around;
  letter-spacing: 0.1em;
  padding-inline: 1.5em;
  text-align: center;
  width: 100%;
}

.about__icon {
  align-self: center;
  aspect-ratio: 1/1;
  margin-right: 1em;
  width: 50%;
}

.about__programms li {
  background-image: linear-gradient(
    260deg,
    rgb(24, 22, 25),
    rgb(29, 33, 34) 40%,
    rgb(18, 20, 20)
  );
  border: 0.01em solid rgb(114, 114, 114);
  border-radius: 0.3em;
  height: 9em;
  margin: 0.3em;
  width: 15em;
  padding: 0.8em 0 0.6em;
}

/* FRONTEND  */
h3 {
  font-size: 3.2rem;
  margin-bottom: 1em;
}

.frontend ul {
  margin-bottom: 8em;
}

.frontend li {
  align-items: flex-start;
  background-image: linear-gradient(
    260deg,
    rgb(24, 22, 25),
    rgb(29, 33, 34) 40%,
    rgb(18, 20, 20)
  );
  border: 0.01em solid rgb(52, 52, 52);
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0.1em rgb(44, 44, 44);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-block: 1.4em;
  min-height: 30em;
  overflow: hidden;
  padding: 2em;
  transition: all 0.5s;
}

.frontend__project {
  height: 30em;
  min-width: 60%;
}

.frontend iframe {
  border: 0.01em solid rgb(57, 57, 57);
  height: 100%;
  width: 100%;
}

.frontend__description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 30em;
  padding-left: 3em;
}

.frontend p {
  font-size: 2.2rem;
  margin: 1em;
}

.frontend p:last-child {
  align-self: flex-end;
}

.frontend a {
  color: rgba(240, 240, 240, 0.776);
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.frontend a:hover {
  color: rgb(255, 255, 255);
}

/* GALERIA  */

.galeria p {
  font-size: 2.4rem;
  margin-left: 2em;
  text-align: center;
  width: 80%;
}

/* FOOTER (KONTAKT) */

.contact__list {
  list-style-type: none;
}

.contact ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact__link {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: rgb(23, 24, 26);
  border: 0.1em solid rgb(57, 57, 57);
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em;
  margin: 0.6em;
  max-width: 90vw;
  text-decoration: none;
  width: 8em;
}

.contact__link:hover {
  animation: gradient 0.05s;
  border-color: rgb(108, 108, 108);
}

@keyframes gradient {
  0% {
    background-image: linear-gradient(120deg, rgb(23, 24, 26), rgb(57, 57, 57));
  }
  100% {
    background-image: linear-gradient(120deg, rgb(57, 57, 57), rgb(23, 24, 26));
  }
}

.contact p {
  margin-top: 0.5em;
}

.contact__list a {
  color: rgba(240, 240, 240, 0.776);
  font-size: 1.7rem;
  letter-spacing: 0.08em;
}

.contact__list a:hover {
  color: rgb(255, 255, 255);
}

.contact__icon {
  aspect-ratio: 1/1;
  width: 2.7em;
}

/* FOOTER (LOGO) */

.footer__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9em;
  text-align: center;
}

.footer__link {
  color: rgb(144, 144, 144);
  font-size: 2.6rem;
  letter-spacing: 0.3em;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__link:hover {
  color: white;
}

.footer--italic {
  font-size: 0.65em;
  font-style: italic;
}

.footer__img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: 0.2em;
  width: 4.4rem;
}

.back-to-top {
  aspect-ratio: 1/1;
  bottom: 3%;
  opacity: 0.3;
  position: fixed;
  right: 1%;
}

.back-to-top a {
  text-decoration: none;
}

.back-to-top:hover {
  opacity: 0.7;
}

.back-to-top img {
  width: 3em;
}

.back-to-top__link {
  color: rgb(191, 191, 191);
  letter-spacing: 0.2em;
  text-align: center;
}

/* MEDIA QUERIES  */

@media all and (max-width: 1200px) {
  .about__pic {
    margin-right: 2em;
    width: 30%;
  }
  .about__info {
    width: 85vw;
  }
}

@media all and (max-width: 992px) {
  .logo {
    margin: 0 auto 0 1em;
  }
  .about__header h1 {
    font-size: 6.6rem;
  }
  .frontend iframe {
    aspect-ratio: 8/5;
    height: auto;
    width: 100%;
  }
  .frontend__project {
    height: auto;
  }
  .frontend li {
    display: block;
    margin-bottom: 10%;
  }
  .frontend__description {
    justify-content: flex-start;
    height: fit-content;
    min-height: 0;
    padding-left: 5%;
  }
  h3 {
    font-size: 2.6rem;
    margin-bottom: 0.5em;
    margin-top: 5%;
  }
  .frontend p {
    font-size: 2rem;
    margin: 0.6em;
  }
}

@media all and (max-width: 768px) {
  .logo {
    font-size: 2.8rem;
  }
  .logo__link {
    margin-block: 2em;
  }
  h2 {
    font-size: 2.8rem;
    padding: 0 0.2em 0.1em 0.8em;
  }
  h2 span {
    font-size: 4rem;
    right: -0.2em;
    top: 0.16em;
  }
  .about {
    margin-top: 10em;
  }
  .about__header h1 {
    font-size: 5rem;
  }
}

@media all and (max-width: 576px) {
  .logo {
    font-size: 5vw;
    margin: 0 auto;
  }

  .logo__link {
    margin-bottom: 0;
  }

  .about__header {
    width: 100%;
  }

  .about__header h1 {
    font-size: 8vw;
    margin-top: 0;
    padding-top: 8%;
    position: static;
    text-align: center;
  }

  .about__info {
    font-size: 2rem;
    margin-inline: auto;
    width: 90%;
  }

  .about__programms {
    margin-top: 3em;
  }

  .about__programms li {
    height: 27vw;
    padding: 2%;
    width: 35vw;
  }

  .about__par--tools {
    font-size: 7vw;
  }

  .about__iconwrapper {
    flex-direction: column;
    font-size: 3.6vw;
    padding-inline: 0.5em;
  }

  .about__icon {
    margin: 0.05em;
    width: 55%;
  }
  .about {
    display: block;
    margin-top: 2em;
    position: static;
    width: 100%;
  }
  .about__pic {
    margin: 0 auto;
    position: static;
    width: 100%;
  }
  .about__img1 {
    animation: none;
    display: block;
    margin: 4em auto 0;
    position: static;
    width: 60vw;
  }
  .about__img2--left {
    display: block;
    margin: 4em auto 0;
    position: static;
  }

  .frontend li {
    min-height: 0;
    padding: 0;
  }
}

@media all and (max-width: 420px) {
  .container {
    padding-bottom: 16%;
  }
  h2 {
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 5em;
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: 0.2em;
    padding-left: 1.4em;
    min-width: fit-content;
    padding-right: 0;
    width: 80vw;
    word-wrap: break-word;
  }
  h2 span {
    display: none;
  }
  .about__info {
    font-size: 1.6rem;
  }
  .footer__text {
    display: none;
  }
  .footer__logo {
    margin-top: 30%;
  }
  .footer__img {
    width: 3rem;
  }
  .frontend ul {
    margin-bottom: 20%;
  }
}

@media all and (max-width: 220px) {
  .logo__img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 4.4rem;
  }

  .about__icondescription {
    display: none;
  }
}

@media all and (max-width: 150px) {
  .footer__text {
    display: none;
  }

  .contact p {
    display: none;
  }
}
